*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{   
    background-color:rgb(39, 95, 199);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: rgb(236, 212, 240);
    width: 100px;
    height: 100px;
}
.box2{
    background-color: rgb(192, 235, 172);
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left: 0;
    margin: 10px;    
    transition:transform 2s ,margin-top 2s 2s,left 2s 4s,top 2s 6s  ;
}
.box1:hover + .box2{
    position: absolute;
    top: 80vh;
    left: 180vh;
    margin-top: -80vh;
    transition: top 2s,left 2s 2s,margin-top 2s 4s,transform 2s 6s;    
    transform: translateX(-180vh);
}
